In [42]:
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
data = pd.read_csv(r'C:\Users\alepa\PycharmProjects\pythonProject\Optimization\Project\Attacks Dataset - MNIST.csv')

In [44]:
data = pd.DataFrame(data)

In [45]:
data

,epsilon,attack_type,norm_type,targeted,step_rule,accuracy,total_queries
0,0.005,fw,-1,True,lipschitz_mnist,1.00,1948
1,0.005,fw,-1,True,decay,1.00,1948
2,0.005,fw,-1,True,amjo,1.00,1948
3,0.005,fw,-1,True,ls,1.00,1948
4,0.005,fw,-1,False,lipschitz_mnist,1.00,1876
...,...,...,...,...,...,...,...
355,0.250,fw_pair,2,True,ls,0.95,2002
356,0.250,fw_pair,2,False,lipschitz_mnist,0.88,1928
357,0.250,fw_pair,2,False,decay,0.85,1859
358,0.250,fw_pair,2,False,amjo,0.85,1856
359,0.250,fw_pair,2,False,ls,0.85,1855

In [46]:
data.describe()

          epsilon   norm_type    accuracy  total_queries
count  360.000000  360.000000  360.000000     360.000000
mean     0.083000    0.666667    0.620306    1370.322222
std      0.090325    1.248955    0.426050     831.701901
min      0.005000   -1.000000    0.010000     124.000000
25%      0.010000   -1.000000    0.090000     202.000000
50%      0.050000    1.000000    0.930000    1984.000000
75%      0.100000    2.000000    1.000000    2002.000000
max      0.250000    2.000000    1.000000    2002.000000

In [47]:
print(data.groupby('attack_type')[['accuracy', 'total_queries']].mean())

             accuracy  total_queries
attack_type
fw           0.620250    1052.333333
fw_away      0.621083    2002.000000
fw_pair      0.619583    1056.633333

In [48]:
print(data.groupby('epsilon')['accuracy'].mean())

epsilon
0.005    0.702917
0.010    0.701250
0.050    0.690278
0.100    0.634028
0.250    0.373056
Name: accuracy, dtype: float64

In [49]:
print(data.groupby('norm_type')['accuracy'].mean())

norm_type
-1    0.774917
 1    0.109167
 2    0.976833
Name: accuracy, dtype: float64

In [50]:
print(data.groupby('targeted')['accuracy'].mean())

targeted
False    0.597000
True     0.643611
Name: accuracy, dtype: float64

In [51]:
print(data.groupby('step_rule')[['accuracy', 'total_queries']].mean())

                 accuracy  total_queries
step_rule
amjo             0.609111    1365.366667
decay            0.606778    1365.177778
lipschitz_mnist  0.630333    1383.777778
ls               0.635000    1366.966667

In [52]:
threshold = 0.1
nice_data = pd.DataFrame(data[data['accuracy'] < threshold])
nice_data

,epsilon,attack_type,norm_type,targeted,step_rule,accuracy,total_queries
8,0.005,fw,1,True,lipschitz_mnist,0.09,202
9,0.005,fw,1,True,decay,0.09,202
10,0.005,fw,1,True,amjo,0.09,202
12,0.005,fw,1,False,lipschitz_mnist,0.09,202
13,0.005,fw,1,False,decay,0.09,202
...,...,...,...,...,...,...,...
346,0.250,fw_pair,1,True,amjo,0.09,202
348,0.250,fw_pair,1,False,lipschitz_mnist,0.09,202
349,0.250,fw_pair,1,False,decay,0.09,202
350,0.250,fw_pair,1,False,amjo,0.09,202
351,0.250,fw_pair,1,False,ls,0.09,202

In [53]:
nice_data = pd.DataFrame(data[data['epsilon'] == 0.25])
nice_data

,epsilon,attack_type,norm_type,targeted,step_rule,accuracy,total_queries
288,0.25,fw,-1,True,lipschitz_mnist,0.51,1458
289,0.25,fw,-1,True,decay,0.05,871
290,0.25,fw,-1,True,amjo,0.04,871
291,0.25,fw,-1,True,ls,0.04,851
292,0.25,fw,-1,False,lipschitz_mnist,0.05,558
...,...,...,...,...,...,...,...
355,0.25,fw_pair,2,True,ls,0.95,2002
356,0.25,fw_pair,2,False,lipschitz_mnist,0.88,1928
357,0.25,fw_pair,2,False,decay,0.85,1859
358,0.25,fw_pair,2,False,amjo,0.85,1856
359,0.25,fw_pair,2,False,ls,0.85,1855